@page "/variablesConexionSiesa"
@inject ICargarCompanias_ViewModel CargarCompaniasViewModel
@inject IGuardarVariablesConexion_ViewModel GuardarVariablesConexionViewModel
@inject IMatDialogService MatDialogService



<h3 style="text-align:center">Variables de conexion</h3>

@*<FormularioConexionSiesa Compania="GuardarVariablesConexionViewModel.Compania"
                             OnValidSubmit="GuardarVariablesConexionViewModel.GuardarCompaniaAsync"
                             ListaCompanias="CargarCompaniasViewModel.ListaCompanias">
    </FormularioConexionSiesa>*@

<div class="grid-container">
    <br />
    <EditForm Model="GuardarVariablesConexionViewModel.Compania">
        <DataAnnotationsValidator />
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label>
                        Compañias :
                    </label>
                    <br /><br />
                    @if (CargarCompaniasViewModel.ListaCompanias.Any())
                        <select class="form-control" value="@CompaniaSeleccionada"
                                @onchange="@((ChangeEventArgs e) => CompaniaHasChanged(e))">
                            <option value="0">SELECCIONE UNA COMPAÑIA</option>

                            @foreach (var item in CargarCompaniasViewModel.ListaCompanias)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }

                        </select>
                    }
                    <br /><br />
                    <MatButton Outlined="true" OnClick="@GuardarCompania"> Guardar Cambios </MatButton>
                    <MatButton Outlined="true" OnClick="@(_=>OpenDialogFromService())"> Crear Compañia  </MatButton>
                </div>
                <div class="col">
                    <br /><br />
                    <MatAccordion Multi="true">
                        <MatExpansionPanel Style="box-shadow: none;">
                            <MatExpansionPanelSummary>
                                <MatExpansionPanelHeader>
                                    <div>
                                        Compañia
                                    </div>
                                </MatExpansionPanelHeader>
                            </MatExpansionPanelSummary>
                            <MatExpansionPanelDetails Class="detalles-acordeon">
                                <div class="content">
                                    <MatStringField @bind-Value="@compania.Nombre" Label="Nombre Compañia"></MatStringField>
                                </div>
                            </MatExpansionPanelDetails>
                        </MatExpansionPanel>
                        <MatExpansionPanel Style="box-shadow: none;">
                            <MatExpansionPanelSummary>
                                <MatExpansionPanelHeader>
                                    <div>
                                        Administracion SQL
                                    </div>
                                </MatExpansionPanelHeader>
                            </MatExpansionPanelSummary>
                            <MatExpansionPanelDetails Class="detalles-acordeon">
                                <div class="content">
                                    <MatStringField @bind-Value="@compania.NombreDB" Label="Nombre DB"></MatStringField>
                                </div>
                            </MatExpansionPanelDetails>
                        </MatExpansionPanel>
                        <MatExpansionPanel Style="box-shadow: none;">
                            <MatExpansionPanelSummary>
                                <MatExpansionPanelHeader>
                                    <div>
                                        Configuración Siesa
                                    </div>
                                </MatExpansionPanelHeader>
                            </MatExpansionPanelSummary>
                            <MatExpansionPanelDetails Class="detalles-acordeon">
                                <div class="content">
                                    <MatTextField @bind-Value="@compania.IdSiesa" Label="Id Siesa"></MatTextField>
                                </div>
                            </MatExpansionPanelDetails>
                        </MatExpansionPanel>
                    </MatAccordion>
                </div>
            </div>
        </div>
    </EditForm>
</div>







@code{

    int CompaniaSeleccionada = 0;
    BaseMatMenu MenuUsuario;
    Compania compania = new Compania();
    protected async override void OnInitialized()
    {
        await CargarCompaniasViewModel.CargarCompanias();
        StateHasChanged();
    }

    public async void CompaniaHasChanged(ChangeEventArgs e)
    {

        CompaniaSeleccionada = int.Parse(e.Value.ToString());

        if (CompaniaSeleccionada != 0)
        {
            var response = await CargarCompaniasViewModel.CargarCompaniaPorId(CompaniaSeleccionada);

            compania.Id = response.Id;
            compania.Nombre = response.Nombre;
            compania.IdSiesa = response.IdSiesa;
            compania.NombreDB = response.NombreDB;
            StateHasChanged();
        }
    }

    async void ActualizarCompania()
    {
        try
        {
            await GuardarVariablesConexionViewModel.ActualizarCompaniaAsync(compania);
            StateHasChanged();
        }
        catch (Exception ex)
        {

            throw new InvalidOperationException($"No se pudo actualizar compañia {ex}");
        }
    }

    async Task OpenDialogFromService()
    {

        await MatDialogService.OpenAsync(typeof(GuardarCompaniaModalForm), null);

    }

}
